<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <title><%= @title %></title>

  <meta name="theme-color" content="#252525">

  <link href="https://fonts.googleapis.com/css?family=Amiri" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400" rel="stylesheet" type="text/css">

  <meta name="description" content="A personal write space.">
  <meta name="author" content="<%= @artist %>">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/home.css">

  <link
  href="https://fonts.googleapis.com/css?family=Fira+Mono:400,700|Open+Sans:300,400,600|Raleway:200,300,400,600&amp;subset=latin-ext"
  rel="stylesheet">


  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <div class="container" style="margin-top: 30px;">

    <div class="row">
      <p style="text-align:center;">
          <img src="images/duraki-logo.png" alt="duraki logo" width="100px" />
      </p>
    </div>

    <div class="row">
      <div class="one-sixth column" style="margin-top: 10%; margin-left: 0%;">
        <h3><a href="/index.html">blog</a> / <a href="/about.html">about</a></h3> 
      </div>
    </div>

    <div class="row">
      <div class="half column" style="margin-top: 0%">

        <ul class="posts">
            
          <% @all_posts.each do |post| %>
          <li>

            <span><%= post[1][:date] %></span> » <a class="h_post" href="<%= post[1][:out] %>" alt="<%= post[1][:id] %>"><%= post[1][:title] %></a>

          </li>
          <% end %>


        </ul>

      </div>

    <div class="row">
      <div class="one-sixth column" style="margin-top: 0%; margin-left: 0%;">
        <h3><a href="/index.html">blog</a> / <a href="#scripts">scripts</a></h3> 
      </div>
    </div>

    <div class="row">
      <div class="half column" style="margin-top: 0%">

        <ul class="posts">
            
          <% @scriptarr.each do |script| %>
          <li>

            <span><%= script[1][:name] %></span> » <a class="h_post" href="<%= script[1][:name] %>" alt="<%= script[1][:name] %>"><%= script[1][:title] %></a>

          </li>
          <% end %>


        </ul>

      </div>

    </div>

  </div>

	    <hr style="display: block; text-align: left; width: 100%;" />

	    <small style="font-family: 'Amiri'; color:rgba(68, 63, 63, 0.42)">this project, script or post is written by @durakih (c) 2017</small>


  <% if @ga == true %>
      <script type="text/javascript" src="./o/posts/assets/js/ga.js"></script>
  <% end %>

</body>
</html>


